.sobreContainerBg {
    display: flex;
    justify-content: center;

}

.sobreContainer {
    background-color: var(--cinza-transparente-plus);
    padding: 60px 80px;
    border-radius: 20px;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    text-align: justify;
}