.usuarioContainerBg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.usuarioContainer {
    background-color: var(--cinza-transparente-plus);
    margin: 50px 0;
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr;

    min-width: 1000px;
    height: auto;
    padding: 60px 80px;
    border-radius: 20px;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
}

.usuarioFoto {
    grid-row: 1;
    grid-column: 1;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    margin: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.usuarioFotoImg {
    display: flex;
    justify-content: center;
    margin: 23px 0;
    width: 100%;
}

.usuarioFotoImg img {
    max-width: 150px;
    border: 3px solid transparent;
    outline: var(--branco) solid 1px;
    background: var(--cinza-gradiente);
    border-radius: 10%;

}

.usuarioFoto label {
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 5px 30px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.usuarioFoto label:hover {
    color: var(--branco);
    border: 1px solid var(--preto-claro);
    background-color: var(--preto-claro);
}

.usuarioPerfil {
    grid-row: 2 / span 2;
    grid-column: 1;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    margin: 1px;
}

.usuarioTexto {
    grid-row: 1 / span 3;
    grid-column: 2 / span 4;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    margin: 1px;
}

.usuarioLista {
    grid-row: 4;
    grid-column: 1 / span 4;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    margin: 1px;
}

.usuarioBotao {
    grid-row: 5;
    grid-column: 1 / span 4;

    margin: 1px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.usuarioBotao button {
    padding: 5px 30px;
    border-radius: 10px;
    border-style: none;
    font-weight: 900;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
    min-width: 145px;
    text-align: center;
}

.usuarioBotao button:hover {
    color: var(--cinza-transparente);
}