.loginContainerBg {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.loginContainer {
    background-color: var(--azul);
    padding: 60px 80px;
    border-radius: 20px;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
}

.loginInput {
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
    width: 100%;
    border-style: none;
    padding: 5px 5px;
    border-radius: 5px;
}

.loginContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer h1,
label,
input {
    margin-bottom: 20px;
}

.loginContainer h1 {
    font-size: 2.3rem;
}

.loginContainer label {
    font-size: 1.2rem;
}

.loginButton {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.loginButton button {
    padding: 5px 50px;
    border-radius: 10px;
    border-style: none;
    font-weight: 900;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
}

.loginButton button:hover {
    color: var(--cinza);
}