.navBarContainerBg {
    background-color: var(--azul);
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
}

.navBarContainer {
    flex-basis: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarContainerOp {

    display: flex;
    align-items: center;
}

.navBarLogin {
    display: flex;
    align-items: center;
    margin: 0 10px;
    text-decoration: none;
    color: var(--preto);
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    width: 110px;
}

.navBarLogin:hover {
    color: var(--branco);
    background-color: var(--cinza-transparente);
    padding: 8px;
    border-radius: 20px;
}

.navBarContainer a {
    margin-right: 10px;
    text-decoration: none;
    color: var(--preto);
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.navBarContainer a:hover {
    color: var(--branco);
}

.navBarUsuarioFoto {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.navBarUsuarioFoto img {
    max-width: 50px;
    border: 3px solid transparent;
    outline: var(--branco) solid 1px;
    background: var(--cinza-gradiente);
    border-radius: 10%;
    margin: 0 10px;
}

.navBarUsuarioFoto span {
    font-weight: 700;
    margin: 0 10px;
}

.navBarUsuarioFoto button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;

    height: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border-style: none;
    font-weight: 900;
    box-shadow: 1px 3px 8px rgb(0, 0, 0, 0.5);
    transition: 0.3s;
    cursor: pointer;
    font-size: 0.8rem;
    min-width: 50px;

}

.navBarUsuarioFoto button:hover {
    color: var(--cinza-transparente);
}