* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --preto: #000;
  --azul: #459cff;
  --cinza: gray;
  --branco: #fff;
  --cinza-transparente: rgba(128, 128, 128, 0.4);
  --cinza-transparente-plus: rgba(240, 240, 240, 0.977);
}